@{
    ViewData["Title"] = "Register-Page";
}
<form method="POST">

    <div>
        Enter the username:<input type="text" name="uname" required/>
        Enter the password:<input type="text" name="password" required/>
        Enter the Email_Id:<input type="text" name="emailId" required/>

        <button type="submit">Register</button>

    </div>
</form>