@{
    ViewData["Title"] = "Login-Page";
}
<form method="POST">

    <div>
        Enter the username:<input type="text" name="uname" required/>
        Enter the password:<input type="text" name="password" required/>
        <button type="submit">Login</button>

    </div>
</form>